<html>
    <head>
        <title>3C Portal</title>
    </head>
    <body>
        <form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
            <label for="Bank">Select Bank:</label>
            <select name="banks" id="banks">
                <option value="Yes Bank">Yes Bank</option>
                <option value="AU SFB">AU SFB</option>
                <option value="HDFC">HDFC Bank</option>
                <option value="SBI">SBI Bank</option>
              </select>
              <br>
                <br>
            <label for="inputMIS"> MIS Report: </label>
            <input title="inputMIS" type="file" name="file" accept=".xlsx"/>
            <br>
            <br>

              <button type="submit">Submit</button>
        </form>
    </body>
</html>