<html>
    <head>
        <title>3C Portal</title>
    </head>
    <body>
        <form action="#submit">
            <label for="Bank">Select Bank:</label>
            <select name="cars" id="cars">
                <option value="Yes Bank">Yes Bank</option>
                <option value="AU SFB">AU SFB</option>
                <option value="HDFC">HDFC Bank</option>
                <option value="SBI">SBI Bank</option>
              </select>
              <br>
                <br>
            <label for="inputMIS"> MIS Report: </label>
            <input title="inputMIS" type="file"/>
            <br>
            <br>

              <button type="submit">Submit</button>
        </form>
    </body>
</html>